@page
@model InventoryManagement.Pages.Delivered.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="index" style="position:absolute; top: 5px;width: 60%;left:7%; top:-20px">
    <h1>Details</h1>

<div>
    <h4>Delivered Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredDetails.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveredDetails.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredDetails.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveredDetails.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredDetails.Cases)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveredDetails.Cases)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredDetails.Quantity_Per_Case)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveredDetails.Quantity_Per_Case)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredDetails.Personel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveredDetails.Personel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredDetails.DateDelivered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveredDetails.DateDelivered)
        </dd>
    </dl>
</div>
<div>
        <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.DeliveredDetails?.ID">Edit</a> |
        <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
</div>