@page
@model InventoryManagement.Pages.Personel.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="index" style="position:absolute; top: 5px;width: 40%;left:17%; top:-20px">
    <h1>Details</h1>
        <div>
            <h4>Personel Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Personel_Details.Name)
                </dt>
                <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Personel_Details.Name)
                </dd>
                <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Personel_Details.Age)
                </dt>
                <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Personel_Details.Age)
                </dd>
                <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Personel_Details.Contact)
                </dt>
                <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Personel_Details.Contact)
                </dd>
                <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Personel_Details.Email)
                </dt>
                <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Personel_Details.Email)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Personel_Details?.ID">Edit</a> |
            <a asp-page="./Index" class="btn btn-primary">Back to List</a>
        </div>
</div>
